# Configuración de la Base de Datos MySQL
# Estos valores serán leídos automáticamente por Docker Compose

##  ESTA ES UNA PLANTILLA DE EJEMPLO (Se debe rellenar con los datos necesarios)

DB_NAME=lp3_db
DB_USER=NOMBRE_USUARIO
DB_PASSWORD=CONTRASEÑA_DE_USUARIO
DB_ROOT_PASSWORD=CONTRASEÑA_ROOT_SEGURA